// Section: Main
.main {
   display: block;
   width: 100%;
   min-height: 100vh;
   background-image: url('../asset/banner.jpg');
   background-size: cover;
   background-position: center right;
   background-repeat: no-repeat;
}
